h1 {
    height: 10vh;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color:rgb(110, 10, 10);
}
img{
    display: block;
    margin: 0 auto;
    height: 50vh;
    display: block;
    margin-bottom: 50px;
}
p {
    float: center;
    font-family: Arial, sans-serif;
    font-size: 0,5 rem;
    text-align: center;
    color: rgb(110, 10, 10);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;

a{
 color: rgb(197, 95, 95); 
}

}
body {
    border: 5px solid rgb(110, 10, 10);
    border-radius: 20px;
    background-color: rgb(255, 228, 225);
} 

main {
    display: flex
}